/* 
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
font-family: 'EB Garamond', serif;
*/

h1{
    color: #96951B;
    font-family: 'EB Garamond', serif;
    padding-top: 30px;

    
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

p {

    font-family: 'Roboto', sans-serif;
}

.hero{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #FCFAEE;
}

.hero > h1{
    font-size: 48px;
}

.card-body{
    background-color: #FCFAEE;
}

.navbar{
    background-color: #8A865D;
}

body{
    background-color: #faf7e9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.formCard{
    height: 70vh;
    width: 70vw;
    margin: 10%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
